.div_1 {
    width: 235px;
    height: 200px;
/*    background: red;*/
    margin: 200px auto;
    position: relative;
}

.button_1 {
    position: relative;
    top: 10px;
    left: 100px;
    width: 60px;
    height: 30px;
}